@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dodaj te style */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}
.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 300ms ease-in;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

/* Główne style dla scrollbara */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/* Track (ścieżka) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle (uchwyt) */
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 4px;
}

/* Handle przy hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e18cc;
}
