:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

.naglowek {
  font-size: 6vw;
  @media (max-width: 768px) {
    font-size: 8vw;
    text-align: center;
  }
}
.naglowek,
.naglowek1 {
  font-weight: 300;
}

.formularz {
  min-height: 80vh;
  height: 75vh;
  width: 85vw;
  border: 5px solid black;
  margin-top: 35px;
  @media (max-width: 768px) {
    width: 95vw;
    padding: 10px !important;
    height: auto;
    min-height: auto;
  }
}
.formularz input,
.formularz select,
.formularz button {
  width: 30vw;
  @media (max-width: 768px) {
    width: 90vw;
  }
}

.formularz a {
  padding-right: 40px;
}

.homediv {
  min-width: 85vw;
  width: 85vw;
  margin-top: -50px;
  @media (max-width: 768px) {
    width: 95vw;
    padding: 8px !important;
    margin-top: -20px;
  }
}

.heroimage {
  min-width: 85vw;
  width: 85vw;
}

.featuredgrid {
  min-width: 85vw;
  width: 85vw;
  margin-top: -35px;
  @media (max-width: 768px) {
    width: 95vw;
    padding: 16px !important;
  }
}

.projects-h1 {
  font-size: 3vw;
  font-weight: 400;
}

.panel {
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: -999;
}
